<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Admin - Loại sản phẩm - sửa</title>

    <!-- CSS -->
        <!-- Bootstrap -->	            <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
        <!-- Collapmenu style -->	    <link rel="stylesheet" href="css/collapsemenu-styles.css" type="text/css" />
        <!-- Style -->                  <link rel="stylesheet" href="styles.css" type="text/css" />
</head>
<body>
    <div class="hero-unit">
        <div class="container">
            <div class="navbar">  
                <div class="navbar-inner">
                    <div class="col-lg-3">
                        <a class="logo" href="#"></a>      
                    </div>
                    <div class="col-lg-9">
                        <div class="pull-right">       
                            <div class="dropdown userinfo">
                                Admin S: 
                                <button class="btn btn-default dropdown-toggle btn-userinfo" data-toggle="dropdown" type="button" id="userdropdownmenu" aria-haspopup="true" aria-expanded="true">
                                    Benfriends
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="userdropdownmenu">
                                    <li><a href="#">Thông tin tài khoản</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Đăng xuất</a></li>
                                </ul>  
                            </div><!-- END dropdown -->          
                        </div>    
                    </div>              
                </div>            
            </div><!-- END navbar -->
        </div>    
    </div><!-- END hero-unit -->
    

    <div class="container main-unit">
            <div class="row">
                <div id="cssmenu" class="col-lg-3 menucontainer bmenu">    
                    <ul class="nav">
                            <li class='has-sub'><a href='#'><span><i class="demo-icon icon-trash-1">&#xe807;</i>Người dùng</span></a>
                                <ul>
                                    <li><a href='#'><span>Danh sách</span></a></li>
                                    <li class='last'><a href='#'><span>Thêm mới</span></a></li>
                                </ul>
                            </li>
                            <li class='has-sub'><a href='#'><span><i class="demo-icon icon-trash-1">&#xe808;</i>Loại sản phẩm</span></a>
                                <ul>
                                    <li><a href='#'><span>Danh sách</span></a></li>
                                    <li class='last'><a href='#'><span>Thêm mới</span></a></li>
                                </ul>
                            </li>
                            <li class='has-sub'><a href='#'><span><i class="demo-icon icon-trash-1">&#xe809;</i>Sản phẩm</span></a>
                                <ul>
                                    <li><a href='#'><span>Danh sách</span></a></li>
                                    <li class='last'><a href='#'><span>Thêm mới</span></a></li>
                                </ul>
                            </li>
                            <li class='has-sub'><a href='#'><span><i class="demo-icon icon-trash-1">&#xe803;</i>Quản lý</span></a>
                                <ul>
                                    <li><a href='#'><span>Phân quyền</span></a></li>
                                    <li><a href='#'><span>Đơn hàng</span></a></li>
                                    <li class='last'><a href='#'><span>Kho hàng</span></a></li>
                                </ul>
                            </li>
                            <li class='has-sub'><a href='#'><span><i class="demo-icon icon-trash-1">&#xe806;</i>Báo cáo</span></a>
                                <ul>
                                    <li><a href='#'><span>Tổng quát</span></a></li>
                                    <li><a href='#'><span>Doanh thu</span></a></li>
                                    <li class='last'><a href='#'><span>Kho hàng</span></a></li>
                                </ul>
                            </li>
                        </ul>
                </div><!-- END bmenu -->
                
                <!-- content -->
                <div class="col-lg-9 content">
                    <div class="row">
                        <div class="col-lg-12 page-header">
                            <h2>Loại sản phẩm <small>Sửa thông tin</small></h2>
                        </div><!-- END page-header -->
                        
                        <form action="" method="POST">
                            <div class="col-lg-7 main-form-wrapper">
                                <input type="hidden" name="_token" value="{!! csrf_token() !!}"/>
                                <div class="form-group">
                                    <label>Thuộc loại</label>
                                    <select class="form-control" name="slParent">
                                    <option value="0">Xin chọn một loại..</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Tên loại</label>
                                    <input class="form-control" name="txtCateName" placeholder="Xin nhập tên loại" />
                                </div>
                                <div class="form-group">
                                    <label>Thứ tự sắp xếp</label>
                                    <input class="form-control" name="txtOrder" placeholder="Xin nhập thứ tự sắp xếp" />
                                </div>
                                <div class="form-group">
                                    <label>Từ khóa tìm kiếm</label>
                                    <input class="form-control" name="txtKeywords" placeholder="Xin nhập từ khóa" />
                                </div>
                                <div class="form-group">
                                    <label>Mô tả loại</label>
                                    <textarea class="form-control" name="txtDescription" rows="3"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Tình trạng</label>
                                    <label class="radio-inline">
                                        <input name="rdoStatus" value="1" checked="" type="radio">Hiện
                                    </label>
                                    <label class="radio-inline">
                                        <input name="rdoStatus" value="2" type="radio">Không hiện
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-primary">Lưu thông tin</button>
                                <button type="reset" class="btn btn-default">Nhập lại</button>
                            </div><!-- END main-form-wrapper --> 
                            <div class="col-lg-5 sub-form-wrapper">
                                
                            </div><!-- END sub-form-wrapper -->             
                        </form><!-- END form -->        
                    </div> 
                </div><!-- END content -->
            </div>
        </div><!-- END main-unit-->            
    
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <small>&copy;<a href="#">Benfriends</a>2016</small>    
                </div>
            </div>
        </div> 
    </footer>
    <!-- Jquery     -->           <script src="js/jquery.min.js" type="text/javascript"></script> 
    <!-- Bootstrap  -->           <script src="js/bootstrap.min.js" type="text/javascript"></script> 
    <!-- Collapmenu  -->          <script src="js/collapsemenu_script.js" type="text/javascript"></script>
    <!-- My script -->	          <script src="script.js" type="text/javascript"></script>   
    <script type="text/javascript">
        $(document).ready(function(){
            $('#cssmenu > ul > li.active > a').trigger('click');
        });
    </script>
</body>  
</html>
